{% extends "base.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}

<div class="container mt-4">
  <h2 class="mb-4">
    Admin Dashboard
  </h2>

  <div class="row">
    <div class="col=md-4 mb-3">
      <div class="card text-bg-primary">
        <div class="card-body">
          <h5>Total Users</h5>
          <h2>{{ total_users }}</h2>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card text-bg-success">
        <div class="card-body">
          <h5>Total Jobs</h5>
          <h2>{{ total_jobs }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}