{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="container mt-4">
  <h2 class="mb-4">
      Welcome to Job Tracker Dashboard 🎉
  </h2>

  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-sm mb-3">
        <div class="card-body text center">
          <h5>Total Application</h5>
          <h2>0</h2>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card shadow-sm mb-3">
        <div class="card-body text-center">
          <h5>Interview</h5>
          <h2>0</h2>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm mb-3">
        <div class="card-body text-center">
          <h5>Offers</h5>
          <h2>0</h2>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}