{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="container mt-4">
  <h2 class="mb-4">
      Welcome , {{ username }} 👋
  </h2>

  <div class="d-flex justify-content-between align-items-center mb-3>">
    <h2>My Job Application</h2>

    <a 
       href="/jobs/new"
       class="btn btn-primary">

       + Add Job
       
    </a>
  </div>

  {% if jobs %}

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Company</th>
        <th>Job Title</th>
        <th>Location</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>

      {% for job in jobs %}

      <tr>
        <td>{{ job.company }}</td>
        <td>{{ job.job_title }}</td>
        <td>{{ job.location }}</td>
        <td>{{ job.status }}</td>

        <td>
          <a 
            href="/jobs/edit/{{ job.id }}"
            class="btn btn-warning btn-sm">
            
            Edit

          </a>
          <a 
            href="/jobs/delete/{{ job.id }}"
            class="btn btn-danger btn-sm">
            
            Delete
          
          </a>
        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>

  {% else %}


  <div class="alert alert-info">

      No jobs added yet.

  </div>
  {% endif %}
 
 

  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-sm mb-3">
        <div class="card-body text center">
          <h5>Total Application</h5>
          <h2>0</h2>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card shadow-sm mb-3">
        <div class="card-body text-center">
          <h5>Interview</h5>
          <h2>0</h2>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm mb-3">
        <div class="card-body text-center">
          <h5>Offers</h5>
          <h2>0</h2>
        </div>
      </div>
    </div>

  </div>
</div>  


{% endblock %}